* {
  margin: 0;
  padding: 0;
}

/* classes */

.bi {
  margin-left: 0.15em;
  margin-right: 0.15em;
}

.home-btn:hover {
  color: #212529;
  background-color: white !important;
}

.my-container {
  height: 100%;
  width: 100%;
  /* margin: 0;
  padding: 0; */
}

.container-contact.form {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  padding: 8px;
  font-weight: bold;
  width: 52%;
}

.cover-container h1 {
  padding-top: 8%;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  text-align: center;
}

.footer-content {
  background-color: #212529;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-submit {
  margin-top: 2%;
  width: 35%;
}

.main {
  height: 100%;
}

.navbar-brand:hover {
  color: powderblue !important;
}

.navbar-collapse {
  justify-content: right;
}

.nav-link {
  color: white !important;
  border-radius: 5px;
}

.nav-link:hover {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 5px;
}

.navbar-logo {
  padding-right: 4px;
}

.profile {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 20px;
}

.profile-pic {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  padding: 50px;
}

.profile-page-header {
  padding: 10px 0px;
}

.profile-summary {
  border: 3px solid;
  border-color: #212529;
  border-radius: 8px;
  background-color: #212529;
  color: white;
  font-size: 14pt;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 20px;
}

.px-3 h1 {
  padding-bottom: 5%;
}

.px-3 p {
  padding-top: 5%;
}

.skills-bio {
  height: 100%;
  border: 3px solid;
  border-color: #212529;
  border-radius: 8px;
  background-color: #212529;
  margin-right: 15px;
}

.skills-p {
  color: white;
  font-size: 13pt;
  font-weight: bolder;
  padding: 5px 20px 6px 20px;
}

.skills-page-header {
  color: white;
  padding: 14px 20px 5px 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}

.social-icons:hover {
  color: powderblue !important;
  /* font-size: 2.5rem !important;
  padding: 6px; */
}
/* 
.synopsis {
  color: white;
  font-size: 13pt;
  font-weight: bolder;
  padding: 5px 20px 6px 20px;
} */

.tech-stack {
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100%;
  /* margin-right: 10px; */
}

.tech-stack-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
}

.tech-stack-icons:hover {
  color: goldenrod;
  background-color: powderblue;
  cursor: pointer;
  border-radius: 5px;
}

/* ids */

#copyright {
  font-size: 11pt;
}

#display-pic {
  border-radius: 50%;
}

#display-pic:hover {
  cursor: pointer;
}

#submit {
  color: white;
  font-size: 16pt;
  font-weight: 700 !important;
}
