{% extends "base.html" %}{% block content %}

<h1>Profile</h1>

<div class="about-me">
  <table>
    <tr>
      <td>
        <img
          id="display-pic"
          src="../static/images/IMG-20200405-WA0000_3.jpg"
          alt="Display Picture"
          width="300"
          height="300"
        />
      </td>
      <td>
        <p id="synopsis">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          magni quisquam suscipit quis vero optio quos. Aperiam pariatur magni
          molestias similique, dolorem, libero, rerum consequatur tenetur
          impedit quisquam eligendi assumenda!
        </p>
      </td>
    </tr>
  </table>
</div>

{% endblock %}
