{% extends "base.html" %}{% block content %}

<div class="tech-stack">
  <div class="frontend">
    <!-- <h3>Front End</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-html-5-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      HTML5
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-css3-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      CSS3
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-javascript-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      JavaScript
    </p>

    <!-- <p class="tech-stack-icons">
      <img src="../static/icons/icons8-react-native-100.png" alt="" />
      React
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-vue-js-100.png" alt="" height="100px"
        width="100px"/>
      Vue.js
    </p> -->
  </div>
  <div class="backend">
    <!-- <h3>Back End</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-python-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Python
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-flask-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Flask
    </p>

    <!-- <p class="tech-stack-icons">
      <img src="../static/icons/icons8-django-100.png" alt="" height="100px"
        width="100px"/>
      Django
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-nodejs-100.png" alt="" height="100px"
        width="100px"/>
      Node.js
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-mongodb-100.png" alt="" height="100px"
        width="100px"/>
      MongoDB
    </p> -->

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-mysql-logo-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      MySQL
    </p>
  </div>
  <div class="devops-1">
    <!-- <h3>DevOps</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-amazon-web-services-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      AWS
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-google-cloud-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      GCP
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-docker-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Docker
    </p>

    <!-- <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-kubernetes-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Kubernetes
    </p> -->
  </div>
  <div class="devops-2">
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-jenkins-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Jenkins
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-ansible-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Ansible
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-terraform-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Terraform
    </p>
  </div>
  <div class="misc">
    <!-- <h3>Project Management</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-linux-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Linux
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-github-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Github
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-jira-100.png"
        alt=""
        height="100px"
        width="100px"
      />
      Jira
    </p>
  </div>
</div>

{% endblock %}
