{% extends "base.html" %}{% block content %}

<div class="tech-stack">
  <div class="skills-bio">
    <i><h2 class="skills-page-header">Skills</h2></i>
    <p class="skills-p">
      Currently my stack includes the big 3 frontend languages in HTML, CSS, and
      JavaScript. At present I'm familiarising myself with React and Node.js in
      order to better understand and utilise the power of JavaScript in frontend
      development.
    </p>
    <p class="skills-p">
      For the backend I mainly code in Python and make use of the Flask
      microframework although I will be making the transition to Django in the
      future. I also utilize MySQL for database management, and with the help of
      SQLAlchemy this is a breeze when coupled with Flask.
    </p>
    <p class="skills-p">
      During the latter half of 2021 I began exploring DevOps tools and Cloud
      Computing, this in turn lead me to pick up a whole new host of periphery
      skills and technologies that include AWS, Docker, Jenkins, and Terraform
      to name a few. I also use github for source control and Jira for project
      management.
    </p>
  </div>
  <div class="frontend stack-icons">
    <!-- <h3>Front End</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-html-5-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      HTML5
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-css3-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      CSS3
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-javascript-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      JavaScript
    </p>

    <!-- <p class="tech-stack-icons">
      <img src="../static/icons/icons8-react-native-100.png" alt="" />
      React
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-vue-js-100.png" alt="" height="90px"
        width="90px"/>
      Vue.js
    </p> -->
  </div>
  <div class="backend stack-icons">
    <!-- <h3>Back End</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-python-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Python
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-flask-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Flask
    </p>

    <!-- <p class="tech-stack-icons">
      <img src="../static/icons/icons8-django-100.png" alt="" height="90px"
        width="90px"/>
      Django
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-nodejs-100.png" alt="" height="90px"
        width="90px"/>
      Node.js
    </p>

    <p class="tech-stack-icons">
      <img src="../static/icons/icons8-mongodb-100.png" alt="" height="90px"
        width="90px"/>
      MongoDB
    </p> -->

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-mysql-logo-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      MySQL
    </p>
  </div>
  <div class="devops-1 stack-icons">
    <!-- <h3>DevOps</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-amazon-web-services-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      AWS
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-google-cloud-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      GCP
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-docker-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Docker
    </p>

    <!-- <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-kubernetes-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Kubernetes
    </p> -->
  </div>
  <div class="devops-2 stack-icons">
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-jenkins-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Jenkins
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-ansible-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Ansible
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-terraform-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Terraform
    </p>
  </div>
  <div class="misc stack-icons">
    <!-- <h3>Project Management</h3> -->
    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-linux-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Linux
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-github-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Github
    </p>

    <p class="tech-stack-icons">
      <img
        src="../static/icons/icons8-jira-100.png"
        alt=""
        height="90px"
        width="90px"
      />
      Jira
    </p>
  </div>
</div>

{% endblock %}
